// Color palette
// =============================================================================

$black:                                    #000;
$white:                                    #fff;
$shark:                                    #1f2428;
$galler:                                   #eee;
$carnation:                                #f75656;
$sushi:                                    #9bc541;
$cinnabar:                                 #e33e36;
$manatee:                                  #9b9ea3;
$gallery:                                  #eee;


// Base
// =============================================================================

$quickedit-dfn-border-color:               $manatee !default;
$quickedit-text-color:                     $shark !default;
$quickedit-border-color:                   $gallery !default;
$quickedit-background-color:               $gallery !default;
$quickedit-error-color:                    $cinnabar !default;

$quickedit-button-cancel-text-color:       $white !default;
$quickedit-button-cancel-bg-color:         $carnation !default;
$quickedit-button-cancel-hover-text-color: $white !default;
$quickedit-button-cancel-hover-bg-color:   darken($quickedit-button-cancel-bg-color, 5%) !default;

$quickedit-button-save-text-color:         $white !default;
$quickedit-button-save-bg-color:           $sushi !default;
$quickedit-button-save-hover-text-color:   $white !default;
$quickedit-button-save-hover-bg-color:     darken($quickedit-button-save-bg-color, 5%) !default;

$quickedit-border-radius:                  3px !default;
$quickedit-input-padding:                  15px 20px !default;

$quickedit-font-size:                      12px !default;
$quickedit-font-family:                    'Verdana', 'Arial', sans-serif !default;

$quickedit-icon-font-size:                 18px !default;

$quickedit-font-path:                      '../fonts/vendor' !default;

$quickedit-transition:                     all .2s ease !default;
