@charset 'UTF-8';

@import 'settings';
@import 'quickedit-webfont';

// =============================================================================
// DFN styling
// =============================================================================

dfn {
    display: inline-block;
    min-width: 10px;
    min-height: 10px;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;

    cursor: inherit;

    color: inherit;
    border: 1px dotted $quickedit-dfn-border-color;
    text-shadow: inherit;
}

// =============================================================================
// edit icon
// =============================================================================

.c-quickedit__icon-pencil {
    position: absolute;
    z-index: 9998;

    padding-left: 5px;

    font-size: $quickedit-icon-font-size;

    cursor: pointer;

    text-shadow: 1px 1px 0 $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white;
}


// =============================================================================
// Quickedit OVERLAY
// =============================================================================

.inline_edit_dialog_overlay {
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba($black, .75);
}


// =============================================================================
// Quickedit DIALOG
// =============================================================================

.inline_edit_dialog {
    position: fixed;
    z-index: 500;
    top: 50%;
    left: 50%;

    width: 60%;
    height: auto !important;

    margin-top: - 184px;
    margin-left: - 30%;

    text-align: center;

    @media screen and (max-width: 600px) {
        width: 80%;

        margin-left: - 40%;
    }

    button {
        display: inline-block;
        width: 155px;

        margin-left: 15px;
        padding: $quickedit-input-padding;

        font-family: $quickedit-font-family;
        font-size: $quickedit-font-size;

        resize: none;
        cursor: pointer;
        transition: $quickedit-transition;
        text-align: center;

        border: none;
        border-radius: $quickedit-border-radius;
        background-repeat: no-repeat;
        background-position: center right -15px;

        -webkit-appearance: none;
           -moz-appearance: none;

        &:first-child {
            margin-left: 0;
        }

        &:focus {
            outline: none;
        }

        &.button_cancel {
            color: $quickedit-button-cancel-text-color;
            background-color: $quickedit-button-cancel-bg-color;

            &:hover,
            &:active {
                color: $quickedit-button-cancel-hover-text-color;
                background-color: $quickedit-button-cancel-hover-bg-color;
            }
        }

        &.button_save {
            color: $quickedit-button-save-text-color;
            background-color: $quickedit-button-save-bg-color;

            &:hover,
            &:active {
                color: $quickedit-button-save-hover-text-color;
                background-color: $quickedit-button-save-hover-bg-color;
            }
        }

        @media screen and (max-width: 600px) {
            width: 100%;

            margin-bottom: 7.5px;
            margin-left: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.widget {
    text-align: left;

    border-radius: $quickedit-border-radius;
}

.editor-tabs {
    position: relative;
    z-index: 4;

    margin: 0;
    padding: 0;

    font-size: 0;

    li {
        display: inline-block;

        margin-right: 1px;

        font-size: $quickedit-font-size;

        a {
            display: inline-block;

            padding: 15px 20px;

            font-family: $quickedit-font-family;

            transition: $quickedit-transition;
            text-decoration: none;

            color: $white;
            border-radius: $quickedit-border-radius $quickedit-border-radius 0 0;
            background-color: rgba($white, .3);

            &:hover,
            &:active {
                background-color: rgba($white, .6);
            }
        }

        &.activeTab {
            a {
                color: $quickedit-text-color;
                background-color: $white;
            }
        }

        &.error {
            a {
                color: $quickedit-error-color;
            }
        }
    }
}

.editor_container {
    position: relative;
    z-index: 5;

    margin-top: -2px;
    margin-bottom: 15px;
    padding: 15px;

    border-radius: $quickedit-border-radius;
    background-color: $white;

    .editortab_content {
        overflow: hidden;

        border: 1px solid $quickedit-border-color;
        border-radius: $quickedit-border-radius;
        background-color: $quickedit-background-color;

        textarea {
            width: 100%;
            min-height: 233px;
            overflow: scroll;

            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            padding: $quickedit-input-padding;

            font-family: $quickedit-font-family;
            font-size: $quickedit-font-size;

            resize: none;
            transition: $quickedit-transition;

            color: $quickedit-text-color;
            border: none;
            border-radius: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center right -15px;

            -webkit-appearance: none;
               -moz-appearance: none;

            &:focus {
                outline: none;
            }
        }
    }
}

.redactor-box {
    margin-bottom: 0 !important;
}

.redactor-toolbar {
    border-bottom: none !important;
    border-radius: $quickedit-border-radius $quickedit-border-radius 0 0;
    box-shadow: none !important;
}

.redactor-editor {
    border-radius: 0 0 $quickedit-border-radius $quickedit-border-radius;
    background: $gallery !important;
}
